
img {
	width: 950px;
	height: auto;
}
background {
	background-image: url(img/background.png);
}
bg-pad {
	margin-left: 150px;
    margin-right: 150px;
}
team {
	width: 100px;
	height: 100px;
}
p1 {

}
p2 {
	
}
p3 {
	
}
c1 {
	
}
c2 {
	
}
c3 {
	
}
wwc1 {
	
}
wwc2 {
	
}
a1 {
	
}
a2 {
	
}
a3 {
	
}
m1 {
	
}
m2 {
	
}
m3 {
	
}
ewc1 {
	
}
ewc2 {
	
}
